extends layout

block content
    h1= "Temyung Dashboard"
    // Wrapper
    #wrapper

        // Coworking INFO
        #coworkingInfo
            h2 Coworking Info
            p
                strong Name:
                |  <span id='coworkingInfoName'></span>
                br
                strong Img:
                |  <span id='coworkingInfoImg'></span>
                br
                strong Space:
                |  <span id='coworkingInfoSpace'></span>
            #editCoworking
                fieldset2
                    input#inputSpace(type='text', placeholder='editspace')
                    br
                    button#btnEditCoworking Edit Coworking
        // Coworking INFO

        // Coworking LIST
        h2 Coworking List
        #coworkingList
            table
                thead
                    th Name
                    th Img
                    th Space
                    th Click
                    th Last Update
                tbody
        // Coworking LIST

        // ADD Coworking
        h2 Add Coworking
        #addCoworking
            fieldset
                input#inputCoworkingName(type='text', placeholder='Name')
                input#inputCoworkingImg(type='text', placeholder='Img')
                br
                input#inputCoworkingSpace(type='text', placeholder='Space')
                br
                button#btnAddCoworking Add Coworking
        // /ADD Coworking

    // /WRAPPER