extends layout

block content
    h1= "Dashboard"
    // Wrapper
    #wrapper

        // Coworking INFO
        #coworkingInfo
            h2 NU MENU
            p
                strong Author:
                |  <span id='coworkingInfoName'></span>
                br
                strong Menu:
                |  <span id='coworkingInfoImg'></span>
                br
                strong Number:
                |  <span id='coworkingInfoSpace'></span>
            #editCoworking
                fieldset2
                    input#inputSpace(type='text', placeholder='edit number')
                    br
                    button#btnEditCoworking Edit Menu
        // Coworking INFO

        // Coworking LIST
        h2 Menu List
        #coworkingList
            table
                thead
                    th Author
                    th Menu
                    th Number
                    th Last Update
                tbody
        // Coworking LIST

        // ADD Coworking
        h2 Add Menu
        #addCoworking
            fieldset
                input#inputCoworkingName(type='text', placeholder='Author')
                input#inputCoworkingImg(type='text', placeholder='Menu')
                br
                input#inputCoworkingSpace(type='text', placeholder='Number')
                br
                button#btnAddCoworking Add Menu
        // /ADD Coworking



    // /WRAPPER